.container
{
    text-align: center;
    
}

body
{
    text-align : center;
   background : url("https://img.freepik.com/free-vector/minimal-doodle-frame-background-social-story-highlight_53876-97970.jpg?size=626&ext=jpg");
    background-size:cover;
}

.menu1
{
list-style:none;
color : yellow;
position : fixed;
width:100%;
margin-top:0px;
top:0px;
z-index:10;
}

.links
{
color : yellow;
display:inline;
font-size:20px;
padding-left:35px;
padding-right:35px;
}

.img1
{
  width : 250px;
  height : 250px;
  border-radius : 120px;
  border-width : 10px;
  text-align: center;
  
}

.home
{
  width : 150px;
  height : 150px;
  text-align: center;
}

.img2
{
    width: 150px;
    height: 150px;
}



#myCarousel1
{
    height : 350px;
    width : 350px;
    align-items : center;
}

#myCarousel1 img
{
    height: 350px;
    width : 350px;
    align-items : center;
}

.carousel-inner .item 
{
    align-items : center;
    margin : auto;
    width : 100%;
}

h2
{
    text-align : center;
    color : white;
    font-size: 30px;
}

h3
{
    text-align : center;
    color : pink;
    font-size: 20px;
}


.item
{
    text-align : center;
}